<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464219351518-l52k4ttqo49p44squn6j0dsq4mtf7o28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464219351518-l52k4ttqo49p44squn6j0dsq4mtf7o28</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464219351518-keoha4sk8s8pghgrr9nlmrduga1of265.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWS4e0zgVaqYSJdsDZE_asj1-C6Xl0OYo</string>
	<key>GCM_SENDER_ID</key>
	<string>464219351518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saumya.aktufirm</string>
	<key>PROJECT_ID</key>
	<string>quiz-ddj6d4</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-ddj6d4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464219351518:ios:7d80c6e53c40a0ee3a954f</string>
</dict>
</plist>